@charset "utf-8";
:root{
    --dark: #252c55;
    --light: #8cc4e9;
    --lighter: #d1ecfd;
    --text: #0a7abb;
    --light-grey: #eee;
    --grey: #ddd;
    --dark-grey: #ccc;
    --text-grey: #888;
    --white: #fff;
    --success: darkseagreen;
    --danger: salmon;
}