@charset "utf-8";
@import "theme";
@import "../../templetes/css/header";
@import "../../templetes/css/formPage";

input[type="radio"], input[type="file"]{
    width: auto;
}
h5,h6{
    padding-top: 0.9rem;
    padding-bottom: 0.3rem;
}
@media screen and (min-width: 577px){
    .form{
        width: 35rem;
    }
}