@charset "utf-8";
@import "theme";
@import "../../templetes/css/header";
@import "../../templetes/css/heroSection";
@import "../../templetes/css/needHelp";
@import "../../templetes/css/footer";
@import "../../templetes/css/accordian";

#hero{
    background-image: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png);
}
main section{ padding: 0; }
main{
    padding: 1rem;
    @include media(769px){
        padding: 3.5rem 2rem;
    }
    .container{
        padding: 0.6rem;
        border: 1px solid var(--grey);
        @include media(577px){
            display: flex;
            padding: 2rem;
            #photo{
                flex-basis: 47rem;
                order: 1;
                margin-left: 1.5rem;
            }
        }
        p{
            line-height: 1.5;
        }
        button{
            width: 100%;
            margin-top: 0.5rem;
        }
    }
}
#accordian li{
    h3{
        border-bottom: 1px dashed var(--dark-grey);
    }
    &:first-child h3{
        border-top: 1px dashed var(--text-grey);
    }
}