@charset "utf-8";
@import "theme";
@import "../../templetes/css/header";
@import "../../templetes/css/profileDashboard";
@import "../../templetes/css/toaster";

label{
    display: block;
}
input[type="file"]{
    margin-bottom: 1rem;
}
.tagify {
    border-width: 2px;
    margin: 0.5rem 0;
    padding: 0.2rem;
    &.tagify--focus{
        border-color: var(--light);
    }
    
}
.tagify__tag>div>*{
    overflow: visible;
}