@charset "utf-8";
@import "theme";
@import "../../templetes/css/header";
@import "../../templetes/css/formPage";
@import "../../templetes/css/toaster";

#headerButtons a:first-child, #profile{
    display: none;
}
form{
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        input:first-child{
            margin-right: 0.5rem;
        }
    }
}
@include media($bp-tablet){
    .form{
        width: 37.5rem;
    }
}