<aside>
    <h2>Dashboard</h2>
    <ul>
        <li><a href="/adminDashboard"><i class="fa fa-chart-area"></i><span>Dashboard</span></li></a>
        <li><a href="/adminUsers"><i class="fa fa-user"></i><span>Users</span></li></a>
        <li><a href="/adminDoctors"><i class="fa fa-user-md"></i><span>Doctors</span></li></a>
        <li class="medical-reports"><a href="adminHospitals"><i class="fa fa-hospital"></i><span>Hospitals</span></li></a>
        <li class="settings"><a href="/settings"><i class="fa fa-user-cog"></i><span>Settings</span></li></a>
    </ul>
</aside>