<section id="need-help">
    <div class="container">
        <div>
            <h2>need help?</h2>
            <p>Just let us know. We will be happy to assist you</p>
        </div>
        <a href="/submitquery"><button class="btn-text">Submit your enquiry</button></a>
    </div>
</section>