<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Apollo Hospital</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/about-hospital.css">
</head>
<body>

<%- include("../templetes/header") %>

<section id="hero">
    <div class="container">
        <div>
            <h1>About Apollo Hospital</h1>
            <span><a href="/">Home</a> / Hospital's Profile</span>
        </div>
    </div>
</section>

<main>
<div class="container">
    
    <section id="photo">
        <figure>
            <img src="assets/images/apollo hospital.jpeg" alt="doctor">
        </figure>
            <button>Call Now</button>
    </section>

    <section id="accordian">
        <h2>Apollo Hospital</h2>
        <div class="key-details">
            <div><i class="fa fa-map-marker-alt"></i><span>Delhi Mathura Road, Sarita Vihar, Delhi 110076</span></div>
            <div><i class="fa fa-bed"></i><span>113 Beds</span></div>
        </div>
        <p>
            Apollo Hospitals has emerged as Asia's foremost integrated healthcare services provider and has a robust presence across
            the healthcare ecosystem, including Hospitals, Pharmacies, Primary Care & Diagnostic Clinics and several retail health models.
            The Group also has Telemedicine facilities across several countries, Health Insurance Services, Flobal Projects Consultancy,
            Medical Colleges, Medvarsity for E-Learning, Colleges of Nursing and Hospital Management and a Teasearch Foundation. In addition,
            'ASK Apollo' - an online consultation portal and Apollo Home Health provide the care continuum.
        </p>
        <ul>
            <li>
                <h4 class="active"><i class="fa fa-award"></i>Specialization</h4>
                <div>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, magnam, libero enim sunt a molestiae 
                        distinctio quae laboriosam qui ullam nihil perferendis eum commodi. Cupiditate nostrum sit tenetur mollitia quos!
                    </p>
                </div>
            </li>
            <li>
                <h4><i class="fa fa-stethoscope"></i>Famous treatments</h4>
                <div>
                    <p>
                        Praesentium, corporis? Vitae sit sapiente delectus magnam vel maxime dolorum sunt quas autem! Tempora 
                        doloremque sapiente facilis neque eligendi quaerat harum impedit. Voluptates praesentium similique ea 
                        doloremque! Animi, minima accusantium.
                    </p>
                </div>
            </li>
            <li>
                <h4><i class="fa fa-user-md"></i>Famous doctors</h4>
                <div>
                    <p>
                        Provident eum saepe, dolore, consequuntur nesciunt dolores aperiam quaerat pariatur repudiandae explicabo 
                        hic blanditiis nobis ex necessitatibus porro et sequi? Nulla magni nemo, perferendis fuga laboriosam ullam 
                        maiores quaerat rerum!
                    </p>
                </div>
            </li>
            <li>
                <h4><i class="fa fa-hospital"></i>infrastructure</h4>
                <div>
                    <p>
                        Nam nulla hic alias amet voluptates minima eaque, rerum delectus adipisci suscipit perspiciatis mollitia 
                        veniam dignissimos sit, deserunt iste cupiditate, corporis animi quam sapiente repellat temporibus sint 
                        ex. Hic, nisi!
                    </p>
                </div>
            </li>
            <li>
                <h4><i class="fa fa-map-marker-alt"></i>complete address</h4>
                <div>
                    <p>
                        Commodi vel dolor maxime dolorem eos impedit provident beatae, quam soluta ipsa doloremque deserunt 
                        obcaecati cupiditate quasi porro odio? Adipisci aperiam atque eligendi deleniti, iure eos molestias 
                        quidem provident animi?
                    </p>
                </div>
            </li>
            <li>
                <h4><i class="fa fa-h-square"></i>Hospital packages</h4>
                <div>
                    <p>
                        Architecto officia optio praesentium asperiores fugit deserunt ut consequatur fugiat? Velit quidem 
                        beatae minima assumenda odio ea soluta facilis perferendis alias harum voluptatem doloribus omnis, 
                        delectus fugiat labore perspiciatis repudiandae.
                    </p>
                </div>
            </li>
            <li>
                <h4><i class="fa fa-rupee-sign"></i>Hospital charges</h4>
                <div>
                    <p>
                        Debitis architecto itaque necessitatibus ad nihil dolores impedit assumenda ipsum quia blanditiis 
                        soluta dolor perspiciatis doloremque atque voluptates, officiis alias quis distinctio autem labore! 
                        Rerum sed ad dolor blanditiis facilis.
                    </p>
                </div>
            </li>
            <li>
                <h4><i class="fa fa-id-card"></i>membership</h4>
                <div>
                    <p>
                        Soluta tempora eum nulla quos impedit itaque quam, iure ipsa alias culpa quo quis id, debitis facilis 
                        minima quidem porro, repellat harum atque! Accusantium qui iste voluptatem libero!
                    </p>
                </div>
            </li>
        </ul>
    </section>

</div>
</main>

<%- include("../templetes/needHelp"); %>

<%- include("../templetes/footer"); %>

<script src="../templetes/js/header.js"></script>
<script src="../templetes/js/accordian.js"></script>

</body>
</html>