<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/aboutus.css">
</head>
<body>

<%- include("../templetes/header") %>

<section id="hero">
    <div class="container">
        <div>
            <h1>Living Healthy Matters.</h1>
            <p>Our specialists aspire to bridge the gap between your benifits plan and the health needs.</p>
        </div>
    </div>
</section>

<main>
<section id="content">
    <div class="container">
        <article>
            <h2>You have to begin to tell the story of your life as you now want it to be and discontinue the tales.</h2>
            <p>
                Deployment long tail monetization strategy equity basic of tead of conversion.
                Supply chain freemium investor long tail agile workers prototype validation influencer market share.
            </p>
            <p>
                Deployment long tail monetization strategy equity basic of tead of conversion.
                Supply chain freemium investor long tail agile workers prototype validation influencer market share.
            </p>
            <p>
                Deployment long tail monetization strategy equity basic of tead of conversion.
                Supply chain freemium investor long tail agile workers prototype validation influencer market share.
            </p>
            <div id="signature">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/signature.png" alt="signature">
            </div>
        </article>
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/femaleDoctor.png" alt="female doctor">
        </figure>
    </div>
</section>

<section id="stats">
    <video src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/video/The+New+Stamford+Hospital+TV+Commercial.mp4" autoplay loop muted></video>
    <div class="container">
        <div id="description">
            <h2>Your wellness builds upon the medical daily.</h2>
            <p>
                Find your best self here. Discover new ways to live an inspiring life through natural beauty, nutrition and diet,
                an active lifestyle and better relationships.
            </p>
            <button class="btn-text">Get a Free Checkup</button>
        </div>
        <div id="scores">
            <div class="card">
                <h6>12M</h6>
                <span>happy patients</span>
            </div>
            <div class="card">
                <h6>5K</h6>
                <span>medical assistants</span>
            </div>
            <div class="card">
                <h6>9.8</h6>
                <span>alexa score</span>
            </div>
            <div class="card">
                <h6>3.2K</h6>
                <span>doctors available</span>
            </div>
            <div class="card">
                <h6>45K</h6>
                <span>cure rate</span>
            </div>
            <div class="card">
                <h6>75</h6>
                <span>health points</span>
            </div>
        </div>
    </div>
</section>
</main>

<section id="need-help">
    <div class="container">
        <div class="topic">
            <h2 class="heading">Join our team</h2>
            <p class="description">We are always looking for good and talented people.</p>
        </div>
        <a href="#"><button class="btn-text">Submit your CV</button></a>
    </div>
</section>

<%- include("../templetes/footer"); %>

<script src="../templetes/js/header.js"></script>

</body>
</html>