<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/FAQ.css">
</head>
<body>

<%- include("../templetes/header") %>

<section id="hero">
    <div class="container">
        <div>
            <h1>FAQ</h1>
            <span><a href="/">Home</a> / FAQ</span>
        </div>
    </div>
</section>

<main>
<div class="container">
    <section id="accordian">
        <ul>
            <li>
                <h4 class="active">How do I make Payments?</h4>
                <div>
                    <p>Praesentium, corporis? Vitae sit sapiente delectus magnam vel maxime dolorum sunt quas autem! Tempora doloremque sapiente facilis neque eligendi quaerat harum impedit. Voluptates praesentium similique ea doloremque! Animi, minima accusantium.</p>
                </div>
            </li>
            <li>
                <h4>There is not enough money in my Portea Wallet for making a payment. What do I do?</h4>
                <div>
                    <p>Provident eum saepe, dolore, consequuntur nesciunt dolores aperiam quaerat pariatur repudiandae explicabo hic blanditiis nobis ex necessitatibus porro et sequi? Nulla magni nemo, perferendis fuga laboriosam ullam maiores quaerat rerum!</p>
                </div>
            </li>
            <li>
                <h4>Can I transfer balance in Portea Wallet balace to another user?</h4>
                <div>
                    <p>Nam nulla hic alias amet voluptates minima eaque, rerum delectus adipisci suscipit perspiciatis mollitia veniam dignissimos sit, deserunt iste cupiditate, corporis animi quam sapiente repellat temporibus sint ex. Hic, nisi!</p>
                </div>
            </li>
            <li>
                <h4>Is Portea Money the same as Portea Wallet?</h4>
                <div>
                    <p>Commodi vel dolor maxime dolorem eos impedit provident beatae, quam soluta ipsa doloremque deserunt obcaecati cupiditate quasi porro odio? Adipisci aperiam atque eligendi deleniti, iure eos molestias quidem provident animi?</p>
                </div>
            </li>
            <li>
                <h4>Refund</h4>
                <div>
                    <p>Architecto officia optio praesentium asperiores fugit deserunt ut consequatur fugiat? Velit quidem beatae minima assumenda odio ea soluta facilis perferendis alias harum voluptatem doloribus omnis, delectus fugiat labore perspiciatis repudiandae.</p>
                </div>
            </li>
            <li>
                <h4>What is a Family ID?</h4>
                <div>
                    <p>Debitis architecto itaque necessitatibus ad nihil dolores impedit assumenda ipsum quia blanditiis soluta dolor perspiciatis doloremque atque voluptates, officiis alias quis distinctio autem labore! Rerum sed ad dolor blanditiis facilis.</p>
                </div>
            </li>
            <li>
                <h4>Who can be added as Family?</h4>
                <div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, magnam, libero enim sunt a molestiae distinctio quae laboriosam qui ullam nihil perferendis eum commodi. Cupiditate nostrum sit tenetur mollitia quos!</p>
                </div>
            </li>
        </ul>
    </section>
</div>
</main>

<%- include("../templetes/needHelp"); %>

<%- include("../templetes/footer"); %>

<script src="../templetes/js/header.js"></script>
<script src="../templetes/js/accordian.js"></script>

</body>
</html>