<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>
<body>
    
<%- include("../templetes/header") %>

<main>
    <div class="form">
        <h4 class="form-title">Create New Password</h4>
        <form action="resetPassword" method="POST">
            <input type="hidden" name="email" value="<%= email %>" />
            <input type="password" name="newPassword" placeholder="Enter New Password" />
            <input type="password" name="confirmPassword" placeholder="Confirm Your Password" />
            <button type="submit">Submit</button>
        </form>
    </div>
</main>

<footer>
    All rights reserved &copy; Tvastra 2020
</footer>
<script src="../templetes/js/header.js"></script>

    
</body>
</html>